.archive

backend/node_modules/
frontend/node_modules/

backend/package-lock.json
frontend/package-lock.json

aws/
AWS-DEPLOYMENT.md

backend/lambda/appointments-lambda/node_modules/
backend/lambda/appointments-lambda/package-lock.json
backend/lambda/appointments-lambda/README.md
